# Arquivos de configuração sensíveis
.env
.env.local
secrets.json

# Diretório de dependências
node_modules/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
~*

# Arquivos de compilação
*.o
*.pyc

# Arquivos de backup
*.bak

# Arquivos de cache
*.cache

# Vscode
.vscode